.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



.signup_button{
  background-color: #6aaa04;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

.login_button {
  background-color: #6aaa04;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 5%;
  
  margin-bottom: 50;
}

.login_line{
  width: 400px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.signup_line{
  width: 400px;
  border-bottom: 1px solid rgb(255, 255, 255);
  position: absolute;
  margin-bottom: -330;
}

button:hover {
  opacity: 0.8;
}

.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu{
  background-color: #a8a4a4;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active{
  left: 0;
  transition: 350ms;
}

.nav-text{
  display: flex;
  color: #ffffff;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a{
  text-decoration: none;
  color: #f1356d;
  font-size: 18px;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 1px;
}

.nav-text a:hover{
  background-color: #fc275c;
}

.nav-menu-items{
  width: 100%;
}

.navbar-toggle{
  
  width: -100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span{
  margin-left: 16px;
}